<html>
<head>
    
</head>
<body>
<p>
    Millions of children in India are being a denied a chance at a happy &
 dignified childhood, mainly because of who they are and where they are born. 
 Save the Children works to bring this injustice to an end.
</p>

<p><font color="#C21807"><b>Your donation will add to the fund that runs child education, protection and health programs
 across India.</b></font> These programs are funded by thousands of donors such as you.
</p>
<p>
    Save the Children runs over 65 programs in 18 states in India, helping over 1 million 
children a year exercise their right to a childhood they can cherish.
</p>

<p>
    We run solely on donations and any amount donated by you helps us do more. 
These donations are going a long way in transforming our nation as they help children, 
who are the future. As per UN report published in 2014, India is the youngest country in the world.
</p>
<p>While Save the Children appreciates monthly donations more where you choose to 
donate a small fixed amount monthly for us to be able to plan our programs for longer term,
 a single donation can also help save a child.</p>


</body>
</html>