<html>
    <head>
        
       <style>
           body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text],
        select,
        textarea {
            width: 60%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            align-content: center;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: maroon;
        }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        input[type=submit] {
            background-color: #C21807;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 450px;
            margin-left: 60px;
        }
        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #C21807;
        }

        .button1:hover {
            background-color: #C21807;
            color: white;
        }
        </style>
    </head>
    <body>
         <div class="container">
        <table>
        <tr>
            <th style="height:110px;width:900px">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <img src="http://localhost:3000/images/logo2.png" class="img-fluid"></img>

            </th>
            <th>
                <a href="/"><button class="button button1">BACK TO HOME</button></a>
               
            </th>
        </tr>
        </table>
        
       
        <form name="Form"  method= "post" action="/visit">
        <center>
            <input type="text" id="fname" name="name" placeholder="Name*" required>
            <br>
            <input type="text" id="phone" name="phone" placeholder="Contact No.*" required>
            <br>
            <textarea id="address" name="reason" placeholder="Enter The Reason*" style="height:50px" required></textarea>
            <br>
            <input type="date" id="date" name="date" placeholder="Date*" style="height:55px;width:660px" required>
            <br><br>
          <input type="submit" value="VISIT NOW" name="submit" onclick="phonenumber(document.Form.phone)" />
          </center>
        </form>
    </div>
    </body>
</html>