<html>
    <head>
        
    </head>
    <body>
        {{#each donor}}
            {{name}}&nbsp;&nbsp;&nbsp; {{phone}}&nbsp;&nbsp;&nbsp;{{email}}&nbsp;&nbsp;&nbsp;{{amount}}<br>
        {{/each}}
    </body>
</html>