<html>

<head>
    <style>
        form {
            display: inline-block; //Or display: inline; 
        }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            height: 330px;
        }

        input[type=submit] {
            background-color: #C21807;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 150px;
            margin-left: 60px;
        }
        input[type=text],
        select,
        textarea {
            width: 60%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            align-content: center;
        }
    </style>
    <br>
    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
    <img src="http://localhost:3000/images/logo2.png" class="img-fluid"></img>
    <form method="POST" action="/cart">
        <input type="submit" value="go to cart ->">
        </button>
    </form>
</head>

<body>
    <br>
    <br>
    <br>
     {{#each shop_list}}
    <div class="row">
        {{#each this}}
        <div class="col-sm-6 col-md-4">
            <form method="post" action="/shop">
                <div class="thumbnail">
                    <input type="hidden" id="{{id}}" name="shop" value="{{id}}">
                    <img src="{{image}}" height="200" width="250">
                    <div class="caption">
                        <b>{{price}}RS</b>
                        <p>
                            <input type="submit" value="add to cart">
                        </p>
                    </div>
                </div>
            </form>
        </div>
        {{/each}}
    </div>
    {{/each}}
</body>

</html>