<html>
    <head>
  
    </head>
    <body>
          <img src="http://localhost:3000/images/thanks.jpg" class="img-fluid"></img>
          <br>
          <b><font size="5" color="black">HEY !!THANK YOU FOR MAKING A DIFFERENCE!</font></b>
          <hr>
         <p> Thank you for agreeing to contribute and becoming a part of the family of 1,44,000+ Save
           the Children India donors. Each one of our donors is very special and important for us to 
           be able to do what we do for the children of India. Do share your achievement with your friends. </p>
           <br>
           <p>
               We will call you shortly from this number: 0124-4868160 to complete your donation process. 
Kindly make a note of this number so that you remember to answer our call. 
           </p>
    </body>
</html>